.mainbrand{
    background-color: #e5b95f;
    margin: 60px 0 60px 0;
}
.brand{
    /* border: 1px solid red; */
    /* display: flex; */
    width : 75%;
    margin: auto;
}
.brand>div{
    /* border: 1px solid grey; */
    width : 100%;
    height: 200px;
}
.brandimg{
    margin: 20% auto;
    width: 50%;
    height: 100px;
    border: 2px solid #222222;
    border-radius: 10px;

    background-color: #ffffff;
}